* {
  box-sizing: border-box;
  margin: 0;
  /*background-color: rgba(0,0,0,0.1);*/
  font-family: sans-serif;
}

h1, h3 {
  margin-left: 8px;
  font-weight: 200;
}
h1 {
  margin-top: 10px;
}

.container {
  margin: 0 auto;
  text-align: center;
}

.form-box {
  border: 1px solid black;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 25px;
  }

.hidden {
    display: none;
  }
.submit {
  cursor: pointer;
}

#wrong-guesses>li {
    display: inline-block;
    font-size: 40px;
    background: red;
    text-shadow: 1px 2px 0 red;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    margin-right: 10px;
    animation: reverse 1s ease;
    border: 1px solid white;
    list-style-type: none;
    white-space: nowrap;
}
#correct-guesses>li {
  display: inline-block;
  list-style-type: none;
  white-space: nowrap;
  font-size: 40px;
  background: green;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  margin-right: 10px;
  animation: reverse 1s ease;

}

.hint   {
  text-align: center;
  animation-name: reverse;
  animation-duration: 2s;
}
.hint>p {
  font-size: 1.4em;

}
@keyframes reverse {
0% {
  transform: rotateY(0deg);
  }

50% {
  transform: rotateY(180deg);
  }

100% {
  transform: rotateY(0deg);
}
}
